{% extends 'base.html.twig' %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}

<h2>Admin Dashboard</h2>

<p>This is the admin dashboard.</p>

<h3>System Data</h3>

<p>Total Links: {{ link_count|number_format }}</p>
<p>Dead Links: {{ dead_link_count|number_format }}</p>
<p>Active Links: {{ active_link_count|number_format }}</p>

<p>Validation Running: {{ system_data.validating }}</p>
<p>Validation Last Start: {{ system_data.validation_last_start|date('Y-m-d H:i:s') }}</p>
<p>Validation Last End: {{ system_data.validation_last_end|date('Y-m-d H:i:s') }}</p>

<h3>Actions</h3>

<p><a href="/link_create.php">Add a link</a></p>
<p><a href="/link_test_all.php">Test all links to verify they are working</a> (warning, takes a long time)</p>

{% endblock %}