{% extends 'base.html.twig' %}

{% block title %}
Links
{% endblock %}

{% block content %}

<h2>Links</h2>

{% for link in links %}
<p>{% if links.is_dead == 0 %}<a href="{{ link.url }}">{{ link.name }}</a>{% else %}<b>{{ link.name }} (dead)</b>{% endif %} - {{ link.description }}{% if user_role == 'admin' %} (<a href="/link_edit.php?id={{ link.id }}">Edit</a>, <a href="/link_confirm_delete.php?id={{ link.id }}">Delete</a>){% endif %}</p>
{% endfor %}

{% endblock %}